h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-decoration: line-through;
    text-shadow: 1px 1px red;
}

body{
    background-color: gray;
    font-size: 100px;
    
}
a:link{
    color: chartreuse;
}

a:hover{
    color: red;
}
